<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/master}">

<th:block layout:fragment="header">
    <link rel="stylesheet" type="text/css" th:href="#{direction} +'/iCheck/skins/flat/green.css'"/>
    <link rel="stylesheet" type="text/css" th:href="#{direction} +'/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css'"/>
    <style>
        .disabled{
            filter: grayscale(100%);
            pointer-events: none;
        }
    </style>
</th:block>
<div layout:fragment="content">
    <div class="page-title">
        <div class="title_left">
            <h3>Arbitrage</h3>
        </div>
    </div>

    <div class="col-md-12 col-sm-12"></div>
    <div class="row" id="subscription-package-content">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Subscription Packages</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="row">
                        <div id="subscription-package" class="col-md-12">
                            <th:block th:if="${subscriptionPackages != null && subscriptionPackages.size > 0}">
                                <th:block th:each="sp: ${subscriptionPackages}">
                                    <li class="nav-item">
                                        <a class="dropdown-item" th:href="'/notification?id='+${n.id}">
                                            <span class="image"><img th:src="@{/images/find_user.png}" alt="Profile Image" /></span>
                                            <span>
                                                      <span th:text="${n.sender.selectTitle}">John Smith</span>
                                                      <span class="time" th:text="${n.createdDateAgo}">3 mins ago</span>
                                                    </span>
                                            <span class="message" th:text="${n.subject}">
                                                      Film festivals used to be do-or-die moments for movie makers. They were where...
                                                    </span>
                                        </a>
                                    </li>

                                    <div class="col-md-3 col-sm-6" id="subscription-package-item-${value.id}">
                                        <div class="pricing">
                                            <div class="title">
                                                <h2>${sp.name}</h2>
                                                <h1>${sp.price} ${sp.currency}</h1>
                                            </div>
                                            <div class="x_content">
                                                <div class="">
                                                    <div class="pricing_features">
                                                        <ul class="list-unstyled text-left">
                                                            <li><i class="fa fa-check text-success"></i> <strong>Unlimited access</strong>.</li>
                                                            <li><i class="fa fa-check text-success"></i> Order count <strong> ${sp.orderCount}</strong> times</li>
                                                            <li><i class="fa fa-check text-success"></i> Trading reward between range (<strong>${sp.minTradingReward} - ${sp.maxTradingReward}</strong>) ${sp.currency}</li>
                                                            <li><i class="fa fa-check text-success"></i> User profit percentage (<strong>${sp.userProfitPercentage}%</strong>)</li>
                                                            <li><i class="fa fa-check text-success"></i> Site profit percentage (<strong>${sp.siteProfitPercentage}%</strong>)</li>
                                                            <li><i class="fa fa-check text-success"></i> Withdrawal duration per day (<strong>${sp.withdrawalDurationPerDay}</strong>)</li>
                                                            <li><i class="fa fa-check text-success"></i> Parent referral bonus <strong>${sp.parentReferralBonus}</strong> ${sp.currency}</li>
                                                            <li><i class="fa fa-check text-success"></i> Maximum acceptable amount <strong>${sp.maxPrice}</strong> ${sp.currency}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="pricing_footer">
                                                    <a href="javascript:trade(${sp.id});" class="btn btn-success btn-block ${!active ? 'disabled' : ''}" aria-disabled="${!active}" role="button">${tradeButtonText}</a>
                                                    <a href="javascript:loadPages('deposit?amount=${sp.price}');" class="btn btn-primary btn-block ${active ? 'disabled' : ''}" aria-disabled="${}" role="button">Purchase<span></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="trading-content" class="row" style="display: none">
        <div class="col-md-12 col-sm-12  ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Trading Orders</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div id="trading-order" class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="footer">
    <script type="text/javascript" th:src="#{direction} +'/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js'"></script>
    <script th:src="@{/js/script/arbitrage.js}"></script>
</th:block>
</html>