<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/master}">

<th:block layout:fragment="header">
    <style>
        .label p{
            font-size: 17px;
        }
        .form-control-feedback.right {
            margin-top: 33px;
        }
    </style>
</th:block>
<div layout:fragment="content">
    <div class="page-title">
        <div class="title_left">
            <h3>Referral Reward <small th:text="${countActiveChild} + ' ' + #{referral}"></small></h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <th:block th:if="${referralRewards != null && referralRewards.size > 0}">
        <th:block th:each="r: ${referralRewards}" th:with="percentage=${countActiveChild} * 100 / ${r.title}">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 th:text="#{invite} +' '+  ${r.title} +' '+  #{friends}"></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <table class="col-md-12 col-sm-12" style="width: 100%">
                                    <tr>
                                        <td style="padding-left: 10px"><i class="fa fa-coins"></i>&nbsp;<th:block th:text="${r.value} + ' USD'"></th:block></td>
                                        <td style="text-align: right"><a th:href="'javascript:loadPages(\'withdrawal?withdrawalType=WITHDRAWAL_REWARD_REFERRAL&amount=' + ${#numbers.formatDecimal(r.value, 0, 'NONE', 0, 'POINT')} +'\')'" th:attr="aria-disabled=${percentage < 100}" type="button" th:class="'btn btn-sm ' + ${percentage > 100 ? 'btn-success' : 'btn-secondary disabled'}" th:text="#{claim}"></a></td>
                                    </tr>
                                </table>
                                <div class="col-md-12 col-sm-12">
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" th:attr="data-transitiongoal=${percentage}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </th:block>
</div>
    <th:block layout:fragment="footer">

    </th:block>
</html>