<!DOCTYPE html>
<html th:lang="#{locale}" th:dir="#{direction}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{siteName} + ' - ' + ${pageTitle}"></title>

    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/bootstrap-rtl.min.css}" th:if="#{locale} == 'fa'"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/all.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/nprogress.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/skins/blue.css}"/>
    <link rel="stylesheet" type="text/css" th:href="'/css/lib/custom.' + #{locale} + '.min.css'"/>
    <link rel="stylesheet" type="text/css" th:href="'/css/lib/datatables.bootstrap-' + #{direction} + '.css'"/>
    <link rel="stylesheet" type="text/css" th:href="'/css/lib/datatables.bootstrap.responsive-' + #{direction} + '.css'" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/datatables.bootstrap.scroller.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/bootstrap-tagsinput.css}"/>
    <link rel="stylesheet" type="text/css" th:href="'/css/lib/bootstrap.custom.' + #{locale} + '.css'"/>

    <script type="text/javascript" th:src="'/js/messages/messages.' + #{locale} + '.js'"></script>
    <script type="text/javascript" th:src="@{/js/lib/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/bootstrap.min.js}"></script>
    <th:block layout:fragment="header"></th:block>
</head>
<body class="nav-md" th:dir="#{direction}">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col hidden-print">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a th:href="@{/dashboard}" class="site_title"><img th:src="@{/images/favicon.png}"
                                                                       style="width: 50px;"/> <span
                            th:text="#{siteName}"></span></a>
                </div>
                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img th:src="@{/images/find_user.png}" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span th:text="#{welcome}"></span>:
                        <h2 th:text="${fullName}"></h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->
                <br/>
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">

                        <ul class="nav side-menu">
                            <li sec:authorize="hasAnyRole('SUPER_WISER','ADMIN')"><a><i class="fa fa-home"></i>
                                <th:block th:text="#{home}"></th:block>
                                <span class="fa fa-chevrnon-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a th:href="@{/dashboard}" th:text="#{dashboard}"></a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('SUPER_WISER','ADMIN')"><a><i class="fa fa-edit"></i>
                                <th:block th:text="#{baseInfo}"></th:block>
                                <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a th:href="@{/fileUpload}" th:text="#{fileUpload}"></a></li>
                                    <li><a th:href="@{/exchange}" th:text="#{exchanges}"></a></li>
                                    <li><a th:href="@{/coin}" th:text="#{coin}"></a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasRole('ADMIN')"><a><i class="fa fa-wrench"></i>
                                <th:block th:text="#{parameters}"></th:block>
                                <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a th:href="@{/parameterGroup}" th:text="#{parameterGroup}"></a></li>
                                    <li><a th:href="@{/parameters}" th:text="#{parameters}"></a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('SUPER_WISER','ADMIN')"><a><i class="fa fa-subscript"></i>
                                <th:block th:text="#{subscription}"></th:block>
                                <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a th:href="@{/subscriptionPackage}" th:text="#{subscriptionPackage}"></a></li>
                                    <li><a th:href="@{/subscription}" th:text="#{subscription}"></a></li>
                                </ul>
                            </li>

                            <li class="sub_menu"><a th:href="@{/userManagement}"><i class="fa fa-user"></i>
                                <th:block th:text="#{userManagement}"></th:block>
                            </a></li>
                            <li class="sub_menu"><a th:href="@{/wallet}"><i class="fa fa-wallet"></i>
                                <th:block th:text="#{wallet}"></th:block>
                            </a></li>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->
                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" th:title="#{settings}" th:href="@{/userManagement}">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" th:title="#{fullscreen}">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" th:title="#{lock}">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" th:title="#{exit}" th:href="@{/logout}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>
        <!-- top navigation -->
        <div class="top_nav hidden-print">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fa fa-globe fa-4"></i>&nbsp;
                                <th:block th:text="#{language}"></th:block>
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:changeUrlParameterAndReload('lang','fa')"
                                       th:text="#{persian} "></a></li>
                                <li><a href="javascript:changeUrlParameterAndReload('lang','en')"
                                       th:text="#{english} "></a></li>
                                <li><a th:href="@{/logout}"><i class="fa fa-sign-out pull-right"></i>
                                    <th:block th:text="#{exit}"></th:block>
                                </a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <span class="badge bg-green" style="top: 0px">6</span>
                            </a>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li>
                                    <a>
                                        <span class="image"><img th:src="@{/images/find_user.png}"
                                                                 alt="Profile Image"/></span>
                                        <span>
                          <span>System Admin</span>
                          <span class="time">3 minute ago</span>
                        </span>
                                        <span class="message">
                          فیلمای فستیوال فیلمایی که اجرا شده یا راجع به لحظات مرده ایه که فیلمسازا میسازن. آنها جایی بودند که....
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img th:src="@{/images/find_user.png}"
                                                                 alt="Profile Image"/></span>
                                        <span>
                           <span>System Admin</span>
                          <span class="time">3 minute ago</span>
                        </span>
                                        <span class="message">
                          فیلمای فستیوال فیلمایی که اجرا شده یا راجع به لحظات مرده ایه که فیلمسازا میسازن. آنها جایی بودند که....
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img th:src="@{/images/find_user.png}"
                                                                 alt="Profile Image"/></span>
                                        <span>
                           <span>System Admin</span>
                          <span class="time">3 minute ago</span>
                        </span>
                                        <span class="message">
                          فیلمای فستیوال فیلمایی که اجرا شده یا راجع به لحظات مرده ایه که فیلمسازا میسازن. آنها جایی بودند که....
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img th:src="@{/images/find_user.png}"
                                                                 alt="Profile Image"/></span>
                                        <span>
                           <span>System Admin</span>
                          <span class="time">3 minute ago</span>>
                        </span>
                                        <span class="message">
                          فیلمای فستیوال فیلمایی که اجرا شده یا راجع به لحظات مرده ایه که فیلمسازا میسازن. آنها جایی بودند که....
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <div class="text-center">
                                        <a>
                                            <strong>show all notifications</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->
        <!-- /header content -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3 th:text="${pageTitle}"></h3>
                    </div>
                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" th:placeholder="#{searchFor}">
                                <span class="input-group-btn">
                      <button class="btn btn-default" type="button" th:text="#{go}">برو!</button>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div layout:fragment="content"></div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer class="hidden-print">
            <div class="pull-left">
                <th:block th:text="#{developAndDesignBy}"></th:block>
                <a th:href="#{developerSiteAddress}" th:text="#{developerSiteName}"></a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{close}"></button>
            </div>
        </div>
    </div>
</div>
<!-- /. Modal -->
<!-- Alert  class={alert-danger,alert-warning,alert-info,alert-success}-->
<div id="myAlert" class="alert fade in"
     style="display: none; position: fixed; top: 10%; left: 2%; right: 70%; z-index: 2147483647;">
    <button onclick="$('#myAlert').hide()" class="close">&times;</button>
    <div class="alert-content"></div>
</div>
<!-- /. Alert -->
</div>

<script type="text/javascript" th:src="@{/js/lib/fastclick.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/nprogress.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery.cookie.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery.blockUI.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/jalaali.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/DateUtils.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery.validate.additional-methods.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery.dataTables.1.10.16.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/bootstrap-dataTables.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/dataTables.responsive.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/bootstrap-tagsinput.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/common.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/core.js}"></script>
<th:block layout:fragment="footer"></th:block>
<script type="text/javascript" th:src="@{/js/lib/custom.min.js}"></script>
</body>
</html>