<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/master}">

<th:block layout:fragment="header">
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/select2.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/select2-bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/lib/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/messages/select2.fa.js}"></script>
    <style>
        .panel_toolbox {
            min-width: 0;
        }
    </style>
</th:block>
<th:block layout:fragment="content">
    <input type="hidden" value="/api/v1/notification" id="requestMapping"/>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 th:text="#{searchA} + ' ' + #{notifications}"></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form>
                        <input type="hidden" value="" id="hdf_id"/>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label th:text="#{sender}"></label>
                                <th:block th:replace="fragments/select2 :: select2('1',#{sender}, 'sender', '/api/v1/user/findAllSelect','{title:params.term}',false,null)"></th:block>
                            </div>
                            <div class="col-md-6 form-group">
                                <label th:text="#{recipient}"></label>
                                <th:block th:replace="fragments/select2 :: select2('2',#{recipient}, 'recipient', '/api/v1/user/findAllSelect','{name:params.term}',false, null)"></th:block>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label th:text="#{subject}"></label>
                                <input class="form-control" tabindex="3" type="text" th:placeholder="#{subject}" th:title="#{subject}" id="subject"/>
                            </div>
                            <div class="col-md-6 form-group">
                                <label th:text="#{body}"></label>
                                <textarea class="form-control" tabindex="4"  rows="3" th:placeholder="#{body}"
                                          th:title="#{body}" id="body"></textarea>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <button tabindex="5" type="submit" class="btn btn-primary"><i
                                        class="fa fa-save"></i>&nbsp;<span th:text="#{save}"></span></button>
                                <button tabindex="6" type="button" class="btn btn-default" onclick="clearSubscriptionForm();"><i
                                        class="fa fa-eraser"></i>&nbsp;<span th:text="#{clean}"></span></button>
                                <button tabindex="7" type="button" class="btn btn-info"
                                        onclick="$.publish('reloadTable')">
                                    <i class="fa fa-search"></i>&nbsp;<span th:text="#{search}"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 th:text="#{table} + ' ' + #{notifications}"></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-striped table-bordered table-hover table-condensed dt-responsive nowrap" width="100%">
                        <thead>
                        <tr>
                            <th th:text="#{sender}"></th>
                            <th th:text="#{recipient}"></th>
                            <th th:text="#{subject}"></th>
                            <th th:text="#{read}"></th>
                            <th th:text="#{modifyDate}"></th>
                            <th><i class="fa fa-wrench"></i></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th th:text="#{sender}"></th>
                            <th th:text="#{recipient}"></th>
                            <th th:text="#{subject}"></th>
                            <th th:text="#{read}"></th>
                            <th th:text="#{modifyDate}"></th>
                            <th><i class="fa fa-wrench"></i></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Body of <small></small></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="footer">
    <script type="text/javascript" th:src="@{/js/script/notification.js}"></script>
</th:block>
</html>