<!DOCTYPE html>
<html th:lang="#{locale}" th:dir="#{direction}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{siteName} + ' - ' + ${pageTitle}"></title>

    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="#{direction} +'/bootstrap/dist/css/bootstrap.min.css'"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/bootstrap-rtl.min.css}" th:if="#{direction} == 'rtl'"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome/css/all.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="#{direction} +'/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css'">
    <link rel="stylesheet" type="text/css" th:href="#{direction} +'/pnotify/dist/pnotify.css'">
    <link rel="stylesheet" type="text/css" th:href="#{direction} +'/pnotify/dist/pnotify.buttons.css'">
    <link rel="stylesheet" type="text/css" th:href="#{direction} +'/pnotify/dist/pnotify.nonblock.css'">
    <link rel="stylesheet" type="text/css" th:href="#{direction} +'/build/css/custom.min.css'"/>

    <script type="text/javascript" th:src="'/js/messages/messages.' + #{locale} + '.js'"></script>
    <script type="text/javascript" th:src="#{direction} +'/jquery/dist/jquery.min.js'"></script>
    <script type="text/javascript" th:src="#{direction} +'/bootstrap/dist/js/bootstrap.bundle.min.js'"></script>
    <style>
        #myAlert {
            display: none;
            position: fixed;
            top: 10%;
            left: 2%;
            right: 70%;
            z-index: 2147483647;
        }
        @media (max-width: 768px) {
            #myAlert {
                display: none; /* Adjust visibility as needed */
                position: fixed;
                top: 5%;    /* Bring it down slightly for mobile */
                left: 5%;   /* Center the element better */
                right: 5%;  /* Increase right to make it fit within the smaller screen */
                z-index: 2147483647;
            }
        }
        span .select2-selection {
            text-align: left;
        }
        .select2-container--bootstrap .select2-selection--single,.select2-search__field {
            border-radius: 0 !important;
        }
        .select2-search__field {
            outline: none;
            z-index: 1000; /* Ensures the input remains above other elements */
        }

        .select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
            border-radius: 0 !important; /* Remove border-radius for arrow */
        }

        .select2-container--bootstrap .select2-selection--single:focus {
            outline: none;
        }
        .select2-container--bootstrap .select2-selection__arrow {
            display: none; /* Hide the arrow icon */
        }
        .select2-container--bootstrap .select2-selection__clear{
            margin-right: 20px;
        }
        .select2-container--bootstrap .select2-selection {
            color: rgb(108, 117, 122) !important;
            font-size: 12px!important;
        }
    </style>
    <th:block layout:fragment="header"></th:block>
</head>
<body class="nav-md" th:dir="#{direction}">
<input type="hidden" id="currentUser" name="currentUser" th:value="${currentUser}" />
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a th:href="@{/dashboard}" class="site_title"><i class="fa fa-eye"></i> <span th:text="#{siteName}">Site name</span></a>
                    </div>

                    <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img id="avatar-image-url" th:src="@{/images/find_user.png}" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span th:text="#{welcome}"></span>:
                        <h2 th:text="${fullName}"></h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->
                <br/>
                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">

                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-home"></i>
                                <th:block th:text="#{home}"></th:block>
                                <span class="fa fa-chevrnon-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a th:href="@{/dashboard}" th:text="#{dashboard}"></a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-wallet"></i>
                                <th:block th:text="#{wallet}"></th:block>
                                <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a th:href="@{/deposit}" th:text="#{deposit}"></a></li>
                                    <li><a th:href="@{/withdrawal}" th:text="#{withdrawal}"></a></li>
                                    <li><a th:href="@{/swap}"><th:block th:text="#{swap}"></th:block><span class="label label-success pull-right">Coming Soon</span></a></li>
                                    <li><a th:href="@{/staking}"><th:block th:text="#{staking}"></th:block><span class="label label-success pull-right">Coming Soon</span></a></li>
                                </ul>
                            </li>
                            <li><a th:href="@{/arbitrage}"><i class="fa fa-money-bill-trend-up"></i> <th:block th:text="#{arbitrageBot}"></th:block></a></li>
                            <li><a th:href="@{/support}"><i class="fa fa-headset"></i> <th:block th:text="#{support}"></th:block></a></li>
                            <li><a th:href="@{/subUsers}"><i class="fa fa-sitemap"></i> <th:block th:text="#{subUsers}"></th:block></a></li>
                            <li><a th:href="@{/about}"><i class="fa fa-info-circle"></i> <th:block th:text="#{about}"></th:block></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->
                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" th:title="#{settings}" th:href="@{/userManagement}">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" th:title="#{fullscreen}">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" th:title="#{lock}">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" th:title="#{exit}" th:href="@{/logout}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img th:src="@{/images/find_user.png}" alt=""><th:block th:text="${fullName}"></th:block>
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" th:href="@{/profile}">
                                        <span id="userOccupied" class="badge bg-red pull-right">50%</span>
                                        <span th:text="#{profile}">Profile</span>
                                    </a>
                                    <a class="dropdown-item"  th:href="@{/profile}">Help</a>
                                    <a class="dropdown-item"  th:href="@{/logout}"><i class="fa fa-sign-out pull-right"></i> <th:block th:text="#{logout}"></th:block></a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope"></i>
                                    <span class="badge bg-green" th:text="${notifications?.totalElements ?: 0}">6</span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <th:block th:if="${notifications != null && notifications.size > 0}">
                                        <th:block th:each="n: ${notifications}">
                                            <li class="nav-item">
                                                <a class="dropdown-item" th:href="'/notification?id='+${n.id}">
                                                    <span class="image"><img th:src="@{/images/find_user.png}" alt="Profile Image" /></span>
                                                    <span>
                                                      <span th:text="${n.sender.selectTitle}">John Smith</span>
                                                      <span class="time" th:text="${n.createdDateAgo}">3 mins ago</span>
                                                    </span>
                                                    <span class="message" th:text="${n.subject}">
                                                      Film festivals used to be do-or-die moments for movie makers. They were where...
                                                    </span>
                                                </a>
                                            </li>
                                        </th:block>
                                    </th:block>
                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item" href="/notification">
                                                <strong>See All Notifications</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div layout:fragment="content"></div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                <th:block th:text="#{developAndDesignBy}"></th:block>
                <a th:href="#{developerSiteAddress}" th:text="#{developerSiteName}"></a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- Alert  class={alert-danger,alert-warning,alert-info,alert-success}-->
<div id="myAlert" class="alert">
    <button onclick="$('#myAlert').hide()" class="close">&times;</button>
    <div class="alert-content"></div>
</div>
<!-- /. Alert -->
</div>

<script type="text/javascript" th:src="#{direction} +'/pnotify/dist/pnotify.js'"></script>
<script type="text/javascript" th:src="#{direction} +'/pnotify/dist/pnotify.buttons.js'"></script>
<script type="text/javascript" th:src="#{direction} +'/pnotify/dist/pnotify.nonblock.js'"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery.blockUI.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/jalaali.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/DateUtils.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery.validate.additional-methods.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/common.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/core.js}"></script>
<script type="text/javascript" th:src="#{direction} +'/bootstrap-progressbar/bootstrap-progressbar.min.js'"></script>
<script type="text/javascript" th:src="#{direction} +'/build/js/custom.min.js'"></script>
<th:block layout:fragment="footer"></th:block>
</body>
</html>